﻿@page "/dashboard-production-Sugentech"
@inherits AuthorizedPageBase
@inject DashboardService_Sugentech DashboardService_Sugentech
@inject PopupService PopupService


<div class="d-flex flex-column mb-2">
    <div class="p-1 d-inline-block">
        @* Title *@
        <span class="text-primary flex-fill" style="font-size: 20px; text-align: left">
            <b>
                <span class="text-primary" style="font-size: 20px; text-align: left" @onclick="VeryFirstLoad">
                    <i class="fas fa-home"></i>
                    @* Path *@
                    종합생산현황
                </span>
                @if (ContextStack.Count > 0)
                {
                    @foreach (DataContext context in ContextStack)
                    {
                        @($" ")
                        <i class="fas fa-chevron-right"></i>
                        @*@($" {_DataContextName[context]}")*@
                        <span class="text-primary" style="font-size: 20px; text-align: left" @onclick="VeryFirstLoad">
                            @($" {_DataContextName[context]}")
                        </span>
                        @*if (context == DataContext.PRODROUTE)
                        {
                            <span class="text-primary" style="font-size: 20px; text-align: left" @onclick="VeryFirstLoad">
                                @($" {_DataContextName[context]}")
                            </span>
                        }
                        else
                        {
                            <span class="text-primary" style="font-size: 20px; text-align: left" @onclick="VeryFirstLoad">
                                @($" {_DataContextName[context]}")
                            </span>
                        }*@
                    }
                }
            </b>
        </span>
    </div>
    <div class="d-flex justify-content-between mb-1">
        <div class="p-11 d-inline-block">
            @*ml-2*@
            <input type="date" aria-label="작업일자" class="form-control" @bind="JobDate">
        </div>
        <div class="p-1">
            @* Current Time *@
            <span class="w-50" style="padding-left: 0; font-size: 18px; text-align: right; color:rgb(230,22,92)">
                <b>
                    @(_SearchTime.ToString("MM-dd HH:mm"))
                </b>
            </span>
        </div>
    </div>
</div>
<div style="font-size:small;">
    @foreach (WorkCenterInfo workCenter in _WorkCenters)
    {
        @*@foreach (ShiftInfo shift in _ShiftList)
        {*@
            List<DashboardProductionInfo> productinoInfoByModel = GetProductionInfoByModel(_ProductionInfoList, workCenter.WorkCenterCode);

            if (productinoInfoByModel.Count >= 1)
            {
                @* Table *@
                <div class="col-lg" style="padding: 0px">
                    <div class="list-wrap flex-fill text-center">
                        <div class="list-item d-flex text-light" style="padding: .325rem !important; background-color: rgba(230,22,92,0.7)">
                            @* 타이틀 (모델명) *@
                            <div class="fw-200 flex-fill font-weight-bold">
                                모델명
                            </div>
                            <div class="fw-80">
                                계획
                            </div>
                            <div class="fw-80">
                                목표
                            </div>
                            <div class="fw-80">
                                실적
                            </div>
                            <div class="fw-80 d-none d-sm-block">
                                달성율
                            </div>
                            <div class="fw-80 d-none d-sm-block">
                                불량수
                            </div>
                            <div class="fw-80 d-none d-sm-block">
                                불량율
                            </div>
                            @*<div class="fw-80 d-none d-sm-block">
                                가동율
                            </div>*@
                        </div>

                        @foreach (DashboardProductionInfo info in productinoInfoByModel)
                        {
                            @* 하위 레벨(페이지, 보여줄 대상)이 있을 경우 onClick() 이벤트를 통해 페이지를 대상 데이터로 Refresh 함 *@
                            <div class="list-item d-flex text-center" style="padding:.325rem!important" @onclick="() => HasAnyData(info) && NoMoreDepth() == false ? RetreiveData(info) : DoNothing()">
                                <div class="fw-200 flex-fill text-left" style="word-break:keep-all">
                                    @* 시리즈명을 표시 *@
                                    @($"{info.KeyFieldName}")
                                    @* 현재 행에 데이터와 하위 레벨(페이지, 보여줄 대상)이 있을 경우 이동이 가능함을 알리기 위해 아이콘을 표시 *@
                                    @if (HasAnyData(info) && NoMoreDepth() == false)
                                    {
                                        @($"  ")
                                        @*<i class="fas fa-chevron-circle-right"></i>*@
                                    }
                                </div>
                                <div class="fw-80">
                                    @string.Format("{0:N0}", info.PlanQty)
                                </div>
                                <div class="fw-80">
                                    @string.Format("{0:N0}", info.TargetQty)
                                </div>
                                <div class="fw-80">
                                    @string.Format("{0:N0}", info.ProdQty)
                                </div>
                                <div class="fw-80 d-none d-sm-block">
                                    @string.Format("{0:P1}", info.AccomplishRate)
                                </div>
                                <div class="fw-80 d-none d-sm-block">
                                    @string.Format("{0:N0}", info.LossQty)
                                </div>
                                <div class="fw-80 d-none d-sm-block">
                                    @string.Format("{0:P1}", info.LossRate)
                                </div>
                                @*<div class="fw-80 d-none d-sm-block">
                                    @string.Format("{0:P1}", info.ProcessRate)
                                </div>*@
                            </div>
                        }
                    </div>
                </div>
            }
        @*}*@
    }
</div>


@code {
    private DateTime _SearchTime;
    private string _CompanyCode;
    private DateTime _JobDate;
    public DateTime JobDate
    {
        get
        {
            return _JobDate;
        }
        set
        {
            _JobDate = value;
            VeryFirstLoad();
        }
    }
    private string _WorkCenterCode;
    private string _ProductionRouteCode;
    private string _LineCode;
    private string _ShiftCode;

    private List<WorkCenterInfo> _WorkCenters = new List<WorkCenterInfo>();
    private List<ShiftInfo> _ShiftList = new List<ShiftInfo>();
    private List<DashboardProductionInfo> _ProductionInfoList = new List<DashboardProductionInfo>();

    // 표시 단계(Level)을 관리하기 위한 프로퍼티
    public DataContext _CurrentContext;
    public DataContext CurrentContext
    {
        get { return _CurrentContext; }
        set { _CurrentContext = value; }
    }
    private List<DataContext> ContextStack = new List<DataContext>();
    public enum DataContext { NONE, PRODROUTE, LINE, MACHINE, MATERIAL }
    private readonly Dictionary<DataContext, string> _DataContextCode =
        new Dictionary<DataContext, string>()
        {
            {DataContext.PRODROUTE, "PRODROUTE" },
            {DataContext.LINE, "LINE" },
            {DataContext.MACHINE, "MACHINE" },
            {DataContext.MATERIAL, "MATERIAL" },
                                                                                };
    private readonly Dictionary<DataContext, string> _DataContextName =
        new Dictionary<DataContext, string>()
        {
            {DataContext.PRODROUTE, "공정" },
            {DataContext.LINE, "라인" },
            {DataContext.MACHINE, "호기" },
            {DataContext.MATERIAL, "자재" },
                                                                                };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // JobDate 설정
        _JobDate = DateTime.Now;

        // 차트 초기화 (메인 차트 습득)
        await VeryFirstLoad();
    }

    private async Task VeryFirstLoad()
    {
        if (ContextStack.Count > 0)
            ContextStack.Clear();

        CurrentContext = DataContext.NONE;

        await RetreiveData();
    }

    private async Task ReverseRetreiveData()
    {
        ContextStack.RemoveRange(ContextStack.Count - 2, ContextStack.Count - 1);
        await RetreiveData(new DashboardProductionInfo()
        {
            JobDate = _JobDate,
            WorkCenterInfo = new WorkCenterInfo()
            {
                CompanyCode = _CompanyCode,
                WorkCenterCode = _WorkCenterCode,
            },
            ShiftInfo = new ShiftInfo()
            {
                ShiftCode = _ShiftCode,
            },
            ProductionRouteInfo = new ProductionRouteInfo()
            {
                Code = _ProductionRouteCode
            },
            LineInfo = new LineInfo()
            {
                LineCode = _LineCode
            }
        }, true);
    }

    private async Task RetreiveData()
    {
        await RetreiveData(null, false);
    }

    private async Task RetreiveData(DashboardProductionInfo info)
    {
        await RetreiveData(info, false);
    }

    /// <summary>
    /// 현황판 데이터 습득
    /// </summary>
    /// <returns></returns>
    private async Task RetreiveData(DashboardProductionInfo info, bool isReverse)
    {
        await ShowLoading("조회중..");
        try
        {
            try
            {
                _SearchTime = DateTime.Now;

                // List 초기화
                _ProductionInfoList.Clear();

                DataContext nextContext;
                if (isReverse)
                {
                    nextContext = NavigateBeforeContext();
                }
                else
                {
                    nextContext = NavigateNextContext();
                }

                List<DashboardProductionInfo> dashboardProductionInfos = new List<DashboardProductionInfo>();

                // 초기 화면 (Main) 조회시
                if (info == null)
                {
                    // 사업장 습득
                    _CompanyCode = (await PopupService.GetCompanyList()).FirstOrDefault().CompanyCode;
                    if (String.IsNullOrEmpty(this._CompanyCode))
                    {
                        throw new Exception("Failed To Get CompanyCode");
                    }

                    // 작업장
                    _WorkCenters = await PopupService.GetWorkCenterList(this._CompanyCode);
                    // Shift 리스트 습득
                    //_ShiftList = await PopupService.GetShiftList();

                    foreach (WorkCenterInfo workCenter in _WorkCenters)
                    {
                        // 작업장 습득 후, 작업장 리스트만큼 반복하며 DashBoardInfo 작성
                        //foreach (ShiftInfo shift in _ShiftList)
                        //{
                        dashboardProductionInfos = await DashboardService_Sugentech.GetDashboardProduction(workCenter.CompanyCode, workCenter.WorkCenterCode, null/*shift.ShiftCode*/, _JobDate, nextContext, null);
                        foreach (DashboardProductionInfo e in dashboardProductionInfos)
                        {
                            _ProductionInfoList.Add(e);
                        }
                        //}
                    }
                }
                // 그 외 라인, 자재 표시할 경우
                else
                {
                    // 기존 교대조는 모두 제거 후 현재 교대조만을 추가한다
                    _ShiftList.Clear();
                    _ShiftList.Add(info.ShiftInfo);

                    dashboardProductionInfos = await DashboardService_Sugentech.GetDashboardProduction(info.CompanyCode, info.WorkCenterCode, info.ShiftCode, _JobDate, nextContext, info);
                    foreach (DashboardProductionInfo e in dashboardProductionInfos)
                    {
                        _ProductionInfoList.Add(e);
                    }
                }

                if (dashboardProductionInfos.Count > 0)
                {
                    DashboardProductionInfo dashboardProductionInfo = dashboardProductionInfos.First();
                    _WorkCenterCode = dashboardProductionInfo.WorkCenterCode;
                    _ProductionRouteCode = dashboardProductionInfo.ProductionRouteInfo.Code;
                    _LineCode = dashboardProductionInfo.LineInfo.LineCode;
                    _ShiftCode = dashboardProductionInfo.ShiftCode;
                }

                // 여기까지 에러없이 잘 진행되면 다음 컨텍스트를 CurrentContext와 스택에 저장
                CurrentContext = nextContext;
                ContextStack.Add(CurrentContext);
            }
            finally
            {
                await HideLoading();
            }

            StateHasChanged();
        }
        catch (Exception ex)
        {
            //await ShowErrorModal(ex.GetBaseException().Message, "조회실패");
            await CallJsVoidAsync("console.error", ex.StackTrace + ex.Message);
        }
    }

    private bool NoMoreDepth()
    {
        if (NavigateNextContext() == DataContext.NONE)
            return true;
        else
            return false;
    }

    private bool HasAnyData(DashboardProductionInfo data)
    {
        if (data != null && (data.PlanQty != 0 || data.ProdQty != 0))
            return true;
        else
            return false;
    }

    private DataContext NavigateNextContext()
    {
        switch (CurrentContext)
        {
            case DataContext.NONE:
                //return DataContext.PRODROUTE;
                return DataContext.MATERIAL;
            case DataContext.PRODROUTE:
                return DataContext.LINE;
            case DataContext.LINE:
                return DataContext.MATERIAL;
            case DataContext.MATERIAL:
                return DataContext.NONE;
            //return DataContext.MATERIAL;
            default:
                return DataContext.PRODROUTE;
        }
    }

    private DataContext NavigateBeforeContext()
    {
        switch (CurrentContext)
        {
            case DataContext.MATERIAL:
                return DataContext.LINE;
            default:
                return DataContext.PRODROUTE;
        }
    }

    private List<DashboardProductionInfo> GetProductionInfoByShift(List<DashboardProductionInfo> infos, string workCenterCode, string shiftCode)
    {
        List<DashboardProductionInfo> res = new List<DashboardProductionInfo>();

        res = (from item in infos.AsEnumerable()
               where item.ShiftCode == shiftCode && item.WorkCenterCode == workCenterCode
               select item).ToList();

        return res;
    }

    private async Task DoNothing()
    {

    }
    private List<DashboardProductionInfo> GetProductionInfoByModel(List<DashboardProductionInfo> infos, string workCenterCode)
    {
        List<DashboardProductionInfo> res = new List<DashboardProductionInfo>();

        res = (from item in infos.AsEnumerable()
               where item.WorkCenterCode == workCenterCode
               select item).ToList();

        return res;
    }
}
